{% extends 'base.html' %}
{% block head %}
<title>AST Visualizer</title>
{% endblock %}
{% block body %}
<h1> AST VISUALIZER </h1>
<div class="prompt-wrap">
    <input type="text" id="exp-input" placeholder="Enter an expression...">
</div>
<button id="test-btn">Test expression: 3x^2 + sin(x) - 5</button>
<div id="result"></div>
<div id="tool-nav"></div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/exp_input.js')}}"></script>
<script src="{{ url_for('static', filename='js/ast_visualizer.js')}}"></script>
{% endblock %}