<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicons/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"
        href="{{ url_for('static', filename='favicons/android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="512x512"
        href="{{ url_for('static', filename='favicons/android-chrome-512x512.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' )}}">
    {% block head %}{% endblock %}
</head>

<body>
    <nav>
        <a href="{{ url_for('home.index') }}">Math Suite</a>
        <a href="{{ url_for('home.index') }}">Home</a>
        <span class="sep">•</span>
        <a href="{{ url_for('ast.ast_generator_page') }}">AST Generator</a>
        <span class="sep">•</span>
        <a href="{{ url_for('ast.ast_visualizer_page') }}">AST Visualizer</a>
        <span class="sep">•</span>
        <a href="{{ url_for('domain.domain_page') }}">Domain</a>
        <span class="sep">•</span>
        <a href="{{ url_for('range.range_page') }}">Range</a>
        <span class="sep">•</span>
        <a href="{{ url_for('derivative.derivative_page') }}">Derivative</a>
        <span class="sep">•</span>
        <a href="{{ url_for('simplify.simplify_page') }}">Simplify</a>
    </nav>
    <main>
        {% block body %}{% endblock %}
    </main>

    {% block scripts %}{% endblock %}
</body>

</html>